<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.596516500254-9i02nkm04bn6gbm8em2k4e01hl58aono</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>596516500254-9i02nkm04bn6gbm8em2k4e01hl58aono.apps.googleusercontent.com</string>
</dict>
</plist>
